{%extends "base.html" %}
{% block content %}

<div class=" col s12 card deep-purple lighten-4 text-shadow center-align">
    <div class="card-content center-align">
        <span class="card-title flow-text">URL SHORTENER</span>
        <form method="POST" action="{{ url_for("shorten")}}">
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <span class="material-icons prefix">content_paste</span>
                    <input id="url-long" name="url-long" type="text" class="validate" required>
                    <label for="url-long">URL</label>
                </div>
            </div>
            <div>
                <button class="btn deep-purple lighten-1" type="submit" name="action">Shorten
                    <i class="material-icons right">arrow forward</i>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock content%}